Repository yy1588133/TradeMaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-backend, typescript-check, check-env-files, check-api-docs, check-migrations

Path conditions:
  pytest-backend: any of: ^web_interface/backend/(app|tests)/.*\.py$
  typescript-check: any of: ^web_interface/frontend/src/.*\.(ts|tsx)$
  check-env-files: any of: ^.*\.env.*$
  check-api-docs: any of: ^web_interface/backend/app/api/.*\.py$
  check-migrations: any of: ^web_interface/backend/alembic/versions/.*\.py$

chore: 清理项目文件和优化gitignore
  .gitignore
Due: none

chore: 更新项目依赖和环境配置
  .dockerignore
  .vscode/settings.json
  requirements-docker.txt
  requirements.txt
  web_interface/.env.dev
  web_interface/backend/.env.example
Due: check-env-files

chore: 清理缓存文件和移除过时配置
  Dockerfile.original
  unit_testing/test_datasets/__pycache__/test_algorithmic_trading.cpython-37-pytest-7.2.0.pyc
  web_interface/.env.prod.template
  web_interface/backend/app/core/__pycache__/trademaster_config.cpython-312.pyc
  web_interface/backend/app/schemas/__pycache__/base.cpython-312.pyc
  web_interface/backend/app/schemas/__pycache__/strategy.cpython-312.pyc
  web_interface/backend/app/schemas/__pycache__/user.cpython-312.pyc
  web_interface/backend/app/services/__pycache__/trademaster_core.cpython-312.pyc
  web_interface/backend/app/services/__pycache__/trademaster_integration.cpython-312.pyc
  web_interface/frontend/.env.production.template
Due: check-env-files

feat: 增强后端核心功能和API端点
  web_interface/backend/app/api/api_v1/endpoints/analysis.py
  web_interface/backend/app/api/api_v1/endpoints/auth.py
  web_interface/backend/app/api/api_v1/endpoints/data.py
  web_interface/backend/app/api/api_v1/endpoints/mock_auth.py
  web_interface/backend/app/api/api_v1/endpoints/strategies.py
  web_interface/backend/app/api/api_v1/endpoints/tools.py
  web_interface/backend/app/api/api_v1/endpoints/training.py
  web_interface/backend/app/core/config.py
  web_interface/backend/app/core/database.py
  web_interface/backend/app/core/error_handler.py
  web_interface/backend/app/core/task_queue.py
  web_interface/backend/app/core/trademaster_config.py
  web_interface/backend/app/main.py
  web_interface/backend/app/models/database.py
  web_interface/backend/app/schemas/common.py
  web_interface/backend/app/schemas/dataset.py
  web_interface/backend/app/schemas/training.py
  web_interface/backend/app/scripts/test_database.py
  web_interface/backend/app/services/strategy_service.py
  web_interface/backend/app/services/trademaster_core.py
  web_interface/backend/requirements.txt
Due: pytest-backend, check-api-docs

feat: 优化前端配置和用户界面
  web_interface/frontend/.env.development
  web_interface/frontend/package.json
  web_interface/frontend/src/constants/index.ts
  web_interface/frontend/src/pages/Profile/Profile.tsx
  web_interface/frontend/src/styles/globals.less
  web_interface/frontend/tsconfig.json
  web_interface/frontend/vite.config.ts
Due: typescript-check, check-env-files

docs: 更新项目文档索引
  web_interface/docs/DOCUMENTATION_INDEX.md
Due: none

📝 docs: 清理过时的文档文件
  DOCKER_SETUP.md
  QUICK_REFERENCE.md
  web_interface/API_DOCUMENTATION.md
  web_interface/ARCHITECTURE.md
  web_interface/DOCKER_DEPLOYMENT_GUIDE.md
  web_interface/IMPLEMENTATION_ROADMAP.md
  web_interface/PROJECT_SUMMARY.md
  web_interface/backend/DATABASE_MODELS_README.md
  web_interface/backend/STRATEGY_API_IMPLEMENTATION.md
  web_interface/docs/BACKEND_SPECIFICATION.md
  web_interface/docs/DATABASE_DESIGN.md
  web_interface/docs/DEVELOPMENT_GUIDE.md
  web_interface/docs/DOCKER_DEPLOYMENT.md
  web_interface/docs/DOCUMENTATION_INDEX.md
  web_interface/docs/FRONTEND_SPECIFICATION.md
  web_interface/docs/support/FAQ.md
  web_interface/docs/support/contact.md
  web_interface/docs/support/support-service.md
  web_interface/docs/support/troubleshooting.md
  web_interface/docs/user-guide/account-management.md
  web_interface/docs/user-guide/analysis-reports.md
  web_interface/docs/user-guide/data-management.md
  web_interface/docs/user-guide/getting-started.md
  web_interface/docs/user-guide/strategy-management.md
Due: none

⚙️ feat: 集成Claude AI配置和文档体系
  .claude/index.json
  .claude/plan/修复quick-start脚本.md
  .claude/plan/整合requirements文件.md
  .claude/settings.local.json
  .gitignore
  CLAUDE.md
  configs/CLAUDE.md
  deploy/CLAUDE.md
  docs/CLAUDE.md
  finagent/CLAUDE.md
  pm/CLAUDE.md
  tools/CLAUDE.md
  trademaster/CLAUDE.md
  tutorial/CLAUDE.md
  web_interface/CLAUDE.md
Due: none

🔧 feat: 增强后端认证和数据库配置
  web_interface/backend/README.md
  web_interface/backend/app/api/api_v1/endpoints/mock_auth.py
  web_interface/backend/app/core/database.py
  web_interface/backend/requirements.txt
Due: pytest-backend, check-api-docs

✨ feat: 优化前端认证系统和配置管理
  web_interface/frontend/src/constants/index.ts
  web_interface/frontend/src/services/auth.ts
  web_interface/frontend/src/store/auth/authSlice.ts
Due: typescript-check

⚙️ feat: 添加环境配置和开发脚本
  web_interface/.env.example
  web_interface/.env.prod
  web_interface/backend/.env.development
  web_interface/backend/dev_main.py
  web_interface/backend/requirements-installed.flag
  web_interface/backend/simple_main.py
Due: check-env-files

📦 feat: 完善前端包管理和构建配置
  web_interface/frontend/.env.example
  web_interface/frontend/.env.local
  web_interface/frontend/.eslintignore
  web_interface/frontend/.eslintrc.json
  web_interface/frontend/package-lock.json
  web_interface/frontend/pnpm-lock.yaml
  web_interface/frontend/scripts/test-build-simple.cjs
  web_interface/frontend/scripts/test-build.cjs
Due: check-env-files

🚀 feat: 添加项目启动和运维脚本集
  web_interface/quick-start.bat
  web_interface/scripts/collect-logs.sh
  web_interface/scripts/detect-and-start.bat
  web_interface/scripts/fix-docker-deployment.sh
  web_interface/scripts/health-check.sh
  web_interface/scripts/stop-services.sh
  web_interface/scripts/test-build.sh
  web_interface/scripts/validate_env_config.py
  web_interface/scripts/verify-deployment.sh
  web_interface/start-dev.bat
  web_interface/start-dev.sh
Due: none

🎨 feat: 创建独立的前端项目目录
  frontend/public/favicon.ico
  frontend/public/manifest.json
Due: none

📝 docs: 更新Docker部署架构优化文档
  .gitignore
  CLAUDE.md
Due: none

🔧 chore: 更新项目配置和文档
  README.md
  pyproject.toml
  setup.py
Due: none

🔧 chore: 添加Claude AI配置和清理临时文件
  .claude/agents/bmad-architect.md
  .claude/agents/bmad-dev.md
  .claude/agents/bmad-orchestrator.md
  .claude/agents/bmad-po.md
  .claude/agents/bmad-qa.md
  .claude/agents/bmad-sm.md
  .claude/agents/bugfix-verify.md
  .claude/agents/bugfix.md
  .claude/agents/code.md
  .claude/agents/debug.md
  .claude/agents/gpt5.md
  .claude/agents/optimize.md
  .claude/agents/requirements-code.md
  .claude/agents/requirements-generate.md
  .claude/agents/requirements-review.md
  .claude/agents/requirements-testing.md
  .claude/commands/ask.md
  .claude/commands/bmad-pilot.md
  .claude/commands/bugfix.md
  .claude/commands/code.md
  .claude/commands/debug.md
  .claude/commands/docs.md
  .claude/commands/optimize.md
  .claude/commands/refactor.md
  .claude/commands/requirements-pilot.md
  .claude/commands/review.md
  .claude/commands/test.md
  .claude/commands/think.md
Due: none

📝 docs(claude): 更新Claude配置和项目文档系统
  .claude/plan/Docker部署修复任务.md
  .claude/plan/PowerShell重构任务.md
  .claude/plan/TradeMaster Web界面核心集成修复方案.md
  .claude/plan/Web界面后端服务报错修复任务.md
  .claude/plan/前后端深度集成方案.md
  .claude/plan/前后端网络连接修复任务.md
  .claude/plan/前端编码错误修复任务.md
  .claude/plan/双方案数据库集成.md
  .claude/plan/数据库连接修复任务.md
  .claude/settings.local.json
  CLAUDE.md
  web_interface/CLAUDE.md
Due: none

🔧 chore(docker): 优化Docker构建和部署配置
  .dockerignore
  .gitignore
  .vscode/settings.json
  pyproject.toml
  web_interface/docker-build.log
  web_interface/docker-compose.services.yml
  web_interface/docker-compose.yml
  web_interface/docker/backend/Dockerfile
  web_interface/docker/backend/db_test.py
  web_interface/docker/backend/entrypoint.sh
  web_interface/docker/frontend/Dockerfile
Due: none

✨ feat(database): 实现双数据库方案集成和配置管理
  web_interface/.claude/settings.local.json
  web_interface/.db-scheme
  web_interface/.deploy-scheme
  web_interface/.env
  web_interface/backend/.env
  web_interface/backend/.env.native
  web_interface/backend/app/api/api_v1/endpoints/auth.py
  web_interface/backend/app/core/config.py
  web_interface/backend/app/core/database.py
  web_interface/backend/app/core/dependencies.py
  web_interface/backend/app/schemas/user.py
  web_interface/backend/app/services/trademaster_core.py
  web_interface/backend/requirements-docker-full.txt
  web_interface/backend/test_direct_connection.py
  web_interface/backend/test_fixed_connection.py
  web_interface/backend/test_simple_connection.py
  web_interface/backend/test_sqlalchemy_engine.py
  web_interface/frontend/.env.local
  web_interface/frontend/src/utils/index.ts
  web_interface/frontend/vite.config.ts
Due: pytest-backend, typescript-check, check-env-files, check-api-docs

🔧 chore(scripts): 优化部署脚本和清理过时工具
  web_interface/config-health-check.py
  web_interface/data/redis/dump.rdb
  web_interface/manual_pg_setup.bat
  web_interface/quick-start.ps1
  web_interface/scripts/docker-health-monitor.ps1
  web_interface/test-cors-fix.bat
  web_interface/test_pg_quick.bat
  web_interface/verify-cors-fix.py
Due: none
